<h2><%= @user.name %></h2>
<p><%= @user.email %></p>
<%=link_to("編集","/users/#{@user.id}/edit")%>

  <% @user.books.each do |book| %>
      <div class="posts-index-item">
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(book.title, "/books/#{book.id}") %>
          </div>
          <%=book.author%>
        </div>
      </div>
    <% end %>
