<!DOCTYPE html>
<html>
  <head>
    <title>BookShelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="logo1">
        <h1>
          <%=link_to("PajaPoss BookShelf","/",:style=>"color:white;")%>
        </h1>
      </div>
     <% if @current_user %>
       <ul class="header-list">
         <li>
          <%=link_to("本を登録する","/books/new",:style=>"color:white; font-size:20px; margin:20px")%>
         </li>
         <li>
          <%=link_to("マイページ","/users/#{@current_user.id}",:style=>"color:white; font-size:20px; margin:20px")%>
         </li>
         <li>
          <%=link_to("ログアウト","/logout",{method:"post"})%>
        </li>
       </ul>
     <% else %>
       <ul class="header-list">
        <li>
          <%=link_to("新規登録","/signup",:style=>"color:white;  font-size:20px; margin:20px;")%>
        </li>
        <li>
          <%=link_to("ログイン","/login",:style=>"color:white;  font-size:20px; margin:20px;")%>
        </li>
       </ul>
     <% end %>
     <%= search_form_for @search, url: books_index_path do |f| %>
         <%= f.text_field :title_cont, :placeholder => "検索", :size => "13px", :class => "form-control" %>
         <%= f.submit '検索', :class => "btn btn-default" %>
     <% end %>
    </div>
     <% if flash[:notice] %>
       <div class="flash">
         <%= flash[:notice] %>
       </div>
     <% end %>
    <%= yield %>
  </body>
</html>
